    <section class="profile-body">
        <section class="profile-body-item">
            <h2>Name:</h2>
            <p class="data-text">{{name}}</p>
        </section>
        {{#if @root.user}}
        <section class="profile-body-item">
            <form action="/user/{{@root.user}}/characterDelete" method="post">
            <label>Type character name for confirmation:<input name="charName" type="text" value="{{name}}"></label>
            <input type="submit" value="Delete Character">
            </form>
        </section>
    {{/if}}
        <section class="profile-body-item">
            <h2>Background:</h2>
            <p class="data-text">{{background}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Race: </h2>
            <p class="data-text">{{race}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Class &amp; level:</h2>
            <p class="data-text">{{dndClass}}, {{level}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Age:</h2>
            <p class="data-text">{{age}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Race:</h2>
            <p class="data-text">{{race}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Faction:</h2>
            <p class="data-text">{{faction}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Personality traits:</h2>
            <p class="data-text">{{traits}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Ideals:</h2>
            <p class="data-text">{{ideals}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Bonds:</h2>
            <p class="data-text">{{bonds}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Flaws:</h2>
            <p class="data-text">{{flaws}}</p>
        </section>
    </section>
</article>