<a href="/user/{{id}}">
<article class="profile-card {{id}}">
    <section class="profile-header">
        <img class="profile-header-image" src="/static/assets/images/1-1.jpg"></img>
        <section class="profile-header-stats">
            <h1 class="profile-header-stats-name">{{name}}</h1>
            <h2 class="profile-header-stats-class">{{dndClass}}, {{level}}
            </h2>
            <h3 class="profile-header-stats-background">{{race}}, {{background}}</h3>
        </section>
</section>
</a>