<article class="profile">
    <section class="profile-header">
        {{#if avatar}}
            <img class="profile-header-image" src="/upload/{{avatar}}"></img>
        {{else}}
            <img class="profile-header-image" src="/static/assets/images/1-1.jpg"></img>
        {{/if}}
        <section class="profile-header-stats">
            <h1 class="profile-header-stats-name">{{name}}</h1>
            <h2 class="profile-header-stats-class">{{dndClass}}, {{#if level}}{{level}}{{/if}}
            </h2>
            <h3 class="profile-header-stats-background">{{race}}, {{background}}</h3>
        </section>
    </section>

    <section class="profile-body">
        <section class="profile-body-item">
            <h2>Player name:</h2>
            <p class="data-text">{{name}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Background:</h2>
            <p class="data-text">{{background}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Class &amp; level:</h2>
            <p class="data-text">{{dndClass}}, {{level}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Experience:</h2>
            <p class="data-text">{{experience}}/365</p>
        </section>
        <section class="profile-body-item">
            <h2>Race:</h2>
            <p class="data-text">{{race}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Faction:</h2>
            <p class="data-text">{{faction}}</p>
        </section>
        <section class="profile-body-item">
            <h2>Interest:</h2>
            <p class="data-text">{{interest}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Personality traits:</h2>
            <p class="data-text">{{traits}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Ideals:</h2>
            <p class="data-text">{{ideals}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Bonds:</h2>
            <p class="data-text">{{bonds}}</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Flaws:</h2>
            <p class="data-text">{{flaws}}</p>
        </section>
    </section>
</article>
{{#each characters}}
    {{> character}}
{{/each}}
    {{#if user}}
    <article class="profile add-character">
        <form action="/user/{{username}}" method="post" class="profile-form">
            <fieldset>
                <label>Name:<input name="name" type="text" required></label>
                <label>Background:<input name="background" type="text"></label>
                <label>Race:
                    <select name="race">
                        {{#each dndData.races.results}}
                        <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </label>
                <label>Class:
                    <select name="dndClass">
                        {{#each dndData.classes.results}}
                            <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                </select></label>
                <label>Level<input name="level" type="number"></label>
                <label>Age<input name="age" type="number"></label>
                </fieldset>
                <fieldset>
                <label>Faction: <input type="text" name="faction"></label>
                <label class="profile-form-field--large">Personality traits:<input name="traits" type="text"></label>
                <label class="profile-form-field--large">Ideals:<input name="ideals" type="text"></label>
                <label class="profile-form-field--large">Bonds:<input name="bonds" type="text"></label>
                <label class="profile-form-field--large">Flaws:<input name="flaws" type="text"></label>
                </fieldset>
                <fieldset>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </article>
    {{/if}}